body {
  font-family: sans-serif;
}
#app {
  display: flex;
  width: 500px;
  border: 1px solid black;
  flex-wrap: wrap;
}
.calc-btn {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  margin: 20px;
  padding: 30px;
  text-align: center;
  cursor: pointer;
}
#result {
  width: 120px !important;
}
